* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  // 10px;
  font-size: 62.5%;
}


/* 垂直居中 */

.middle:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.bottom:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: bottom;
  content: "";
}


/* 不能选中 */

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
not supported by any browser */
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
}


/* 点击按钮 */

#app>#btn {
  width: 100%;
  height: 10%;
  background-color: rgb(38, 38, 38);
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-in;
  // background-image: url('./img/start.GIF');
  background-size: 220px 139px;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-bottom: 0.5rem;
}


/* 图文 */

#main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 18%;
}

#main>#item {
  width: 100%;
  height: 250px;
  position: relative;
  border-bottom: 2px solid #48D1CC;
}

#item>.left {
  width: 40%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  line-height: 50px;
  position: absolute;
}

#item>.left>img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#item>.right {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 40%;
}

#item>.right>div{
  box-sizing: border-box;
  padding-left: 10%;
  background-color: rgba(0,0,0,0.3);
  color:#fff;
  width: 100%;
  height: 11%;
  font-size: 1.1rem;
}

#item>.right>.title{
  font-size: 1.5rem;
  height: 23%;
  background-color: rgba(0,0,0,0.5);
  color: #48D1CC;
}
#item>.right>.alt>a{
  font-size: 1.1rem;
  text-decoration: none;
  color:#FF3030;
}

