* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  // 10px;
  font-size: 62.5%;
}


/* 垂直居中 */

.middle:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.bottom:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: bottom;
  content: "";
}


/* 不能选中 */

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
not supported by any browser */
}


/* -----------------------报名图标 */

@keyframes font_change {
  0% {
    font-size: 2.0rem;
    transform: rotate(0deg);
    color: #fff;
  }
  25% {
    font-size: 2.6rem;
    transform: rotate(30deg);
  }
  50% {
    font-size: 3.0rem;
    transform: rotate(0deg);
    color: #FFFF00;
  }
  75% {
    font-size: 2.6rem;
    transform: rotate(-30deg);
  }
  100% {
    font-size: 2.0rem;
    transform: rotate(0deg);
    color: #fff;
  }
}


/* -----------------------level的图标 */

@keyframes level {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/* -----------------------实时广告图标 */

@keyframes adv_font_change {
  0% {
    font-size: 1.2rem;
  }
  25% {
    font-size: 1.5rem;
  }
  50% {
    font-size: 1.8rem;
  }
  75% {
    font-size: 1.5rem;
  }
  100% {
    font-size: 1.2rem;
  }
}


/* ---------------------------------app */

#app {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 40px;
}


/* ----------------------------info */

#app>div.info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-sizing: border-box;
  padding-left: 40px;
  width: 100%;
  height: 40px;
  background-color: rgb(28, 27, 32);
  color: #FF6A6A;
  font-size: 1.5rem;
  /* background-image: url('./img/start.GIF'); */
  /* background-size: 220px 139px;
  background-position: center center;
  background-repeat: no-repeat; */
}

#app>div.info>div:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  animation: adv_font_change 2s forwards 1s infinite;
}

#app>div.info>div.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app>div.info>div.content>div {
  position: absolute;
  left: 0;
  /* transition: all 0.3s linear; */
  white-space: nowrap;
  line-height: 40px;
}


/* ------------------------------抽奖活动 */

#app>div.lottery {
  position: relative;
  z-index: 0;
  background-color: #4390EE;
  color: #fff;
  font-weight: 600;
  border-bottom: 1px solid rgb(28, 27, 32);
}


/* ----------------------------海报 */

#app>div.poster {
  box-sizing: border-box;
  z-index: 9999;
  width: 100%;
  border-bottom: 3px solid rgb(28, 27, 32);
  font-size: 0;
}

#app>div.poster>img {
  width: 100%;
  height: auto;
}


/* ----------------------------轮播 */

#app>div.swiper-container {
  width: 100%;
  height: 250px;
  border-bottom: 3px solid rgb(28, 27, 32);
}

#app>div.swiper-container .item {
  line-height: 200px;
  color: #000;
  text-align: center;
  font-size: 2.0rem;
}

#app>div.swiper-container .slider1 {
  background: #4390EE;
}

#app>div.swiper-container .slider2 {
  background: #FF8604;
}

#app>div.swiper-container .slider3 {
  background: #CA4040;
}


/* 左右按钮 */

#app>div.swiper-container .swiper-button-prev,
#app>div.swiper-container .swiper-button-next {
  width: 30px;
  height: 30px;
  background-size: 71px 30px;
  background-position: 0 0;
  background-image: url('./img/swiper_button_002.png');
}

#app>div.swiper-container .swiper-button-next {
  background-position: -41px 0px;
}


/* 分页器 */

#app>div.swiper-container .swiper-pagination-bullet-active {
  background-color: rgb(28, 27, 32);
}


/* ---------------------------------nav */

#app>.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  color: rgb(28, 27, 32);
  font-size: 1.4rem;
  background-color: rgb(28, 27, 32);
  /* background-image: url('./img/start.GIF'); */
  /* background-size: 220px 139px;
  background-position: center center;
  background-repeat: no-repeat; */
}

#app>.nav>div {
  position: absolute;
  bottom: 0;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(28, 27, 32);
  border-radius: 10px;
  transition: all 0.2s ease-in;
}

#app>.nav>div.active {
  height: 140%;
}

#app>.nav>div.index {
  left: 0;
  background-color: #FF6A6A;
  border-left: 2px solid rgb(28, 27, 32);
}

#app>.nav>div.level {
  left: 25%;
  background-color: #CDAD00;
}

#app>.nav>div.info {
  left: 50%;
  background-color: #7FFF00;
}

#app>.nav>div.reg {
  left: 75%;
  background-color: #40E0D0;
  border-right: 2px solid rgb(28, 27, 32);
}

#app>.nav>div>div {
  width: 100%;
  height: 50%;
  line-height: 24px;
  text-align: center;
}


/* ----------------------------------------------------用户报名 */

#app>.apply {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #43afee;
}

#app>.apply>div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #FF6A6A;
  position: relative;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

#app>.apply>div>div.bb_nav_heart {
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;
  line-height: 70px;
  text-align: center;
  color: #fff;
  transform-origin: 50% 60%;
  animation: font_change 4s forwards 1s infinite;
}

#app>.apply>div>div:nth-child(1) {
  left: 0;
}

#app>.apply>div>div:nth-child(3) {
  right: 0;
}

#app>.apply>div>div:nth-child(2) {
  width: 100%;
  height: 100%;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 3.0rem;
}


/* --------------------------数据hot */

#app>.hot {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #86c5ea;
}

#app>.hot>div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  position: relative;
}

#app>.hot>div>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
}

#app>.hot>div>div.num {
  left: 0;
}

#app>.hot>div>div.vote {
  left: 33%;
}

#app>.hot>div>div.views {
  left: 66%;
}

#app>.hot>div>div>div:nth-child(1) {
  height: 40%;
  text-align: center;
  font-weight: 800;
  font-size: 1.6rem;
  color: rgb(28, 27, 32);
}

#app>.hot>div>div>div:nth-child(2) {
  height: 60%;
  text-align: center;
  font-weight: 800;
  font-size: 2.2rem;
  color: #4390EE;
}


/* ------------------------------------------------------------main */

#app>.main {
  width: 100%;
  background: #4390EE;
}


/* --------------------------数据搜索 */

#app>.main>.ipt {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: #43afee;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#app>.main>.ipt>div {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

#app>.main>.ipt>div:nth-child(1) {
  width: 70%;
}

#app>.main>.ipt>div:nth-child(1)>input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

#app>.main>.ipt>div:nth-child(2) {
  width: 30%;
  height: 100%;
  padding-left: 10px;
}

#app>.main>.ipt>div:nth-child(2)>div {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #114f74;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-size: 1.6rem;
}


/* --------------------------活动时间 */

#app>.main>.info {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: #68bdee;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#app>.main>.info>div {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  font-size: 1.6rem;
}


/* --------------------------数据展示 */

#app>.main>.list {
  width: 100%;
  box-sizing: border-box;
  background-color: #43afee;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#app>.main>.list>.gridalicious>.galcolumn>.item {
  background-color: #2986bc;
  color: #fff;
  padding: 5px;
  /* word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap; */
}

#app>.main>.list>.gridalicious>.galcolumn>.item>img {
  width: 100%;
  height: auto;
}

#app>.main>.list>.gridalicious>.galcolumn>.item>div {
  margin-top: 5px;
  width: 100%;
  height: 72px;
  border-radius: 5px;
  background-color: #114f74;
}

#app>.main>.list>.gridalicious>.galcolumn>.item>div>div:nth-child(1) {
  width: 100%;
  height: 50%;
  background-color: #2986bc;
  line-height: 36px;
  text-align: center;
  font-size: 1.7rem;
}

#app>.main>.list>.gridalicious>.galcolumn>.item>div>div:nth-child(2) {
  width: 100%;
  height: 50%;
}

#app>.main>.list>.gridalicious>.galcolumn>.item>div>div:nth-child(2)>div {
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  line-height: 36px;
  text-align: center;
  font-size: 1.2rem;
}

#app>.main>.list>.gridalicious>.galcolumn>.item>div>div:nth-child(2)>div:nth-child(1) {
  border-right: 2px solid #2986bc;
}


/* --------------------------分页器 */

#app>.main>.page {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  background-color: #43afee;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 90px;
}

#app>.main>.page>div {
  float: left;
  width: 30%;
  height: 100%;
  background-color: #114f74;
  border-radius: 10px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

#app>.main>.page>div:nth-child(2) {
  width: 40%;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
}

#app>.main>.page>div:nth-child(2)>div {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
}


/* -----------------------------------------------------当前冠亚军 */

#app>.main>.active_level {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #43afee;
}


/* 标题 */

#app>.main>.active_level>div:nth-child(1) {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #FF6A6A;
  color: #fff;
  border-radius: 25px;
  font-size: 2.2rem;
}


/* 缩略图 */

#app>.main>.active_level>div.item {
  position: relative;
  width: 100%;
  /* height: 200px; */
  box-sizing: border-box;
  border: 2px solid #114f74;
  border-radius: 15px;
  margin-top: 30px;
}

#app>.main>.active_level>div.item>span {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  background-color: #43afee;
  color: #FF6A6A;
  text-shadow: 3px 3px 5px #000;
  transform-origin: 50% 60%;
  position: absolute;
  left: 50%;
  top: -25px;
  margin-left: -25px;
  animation: level 4s forwards 1s infinite;
}

#app>.main>.active_level>div.item>span.icon-guanjun {
  font-size: 50px;
  color: #FF6A6A;
}

#app>.main>.active_level>div.item>span.icon-yajun {
  font-size: 48px;
  color: #CDAD00;
}

#app>.main>.active_level>div.item>span.icon-jijun {
  font-size: 46px;
  color: #7FFF00;
}


/* 图片 */

#app>.main>.active_level>div.item>div.img {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 35px;
  padding-bottom: 5px;
}

#app>.main>.active_level>div.item>div.img>img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}


/* info */

#app>.main>.active_level>div.item>div.info {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: #114f74;
  border-radius: 0 0 10px 10px;
}

#app>.main>.active_level>div.item>div.info>div {
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
}

#app>.main>.active_level>div.item>div.info>div:nth-child(1) {
  border-right: 1px solid #43afee;
}


/* -----------------------------------------------------数据level */

#app>.main>.level {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #43afee;
  padding-bottom: 80px;
}

#app>.main>.level>.list {
  width: 100%;
  box-sizing: border-box;
  background-color: #2986bc;
}


/* -----------------每一行 */

#app>.main>.level>.list>.item {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  border-bottom: 1px solid #43afee;
  font-size: 1.4rem;
}


/* --标题 */

#app>.main>.level>.list>.title {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  border-bottom: 1px solid #43afee;
  font-size: 1.6rem;
  background-color: #114f74;
}


/* ------------------每一列 */

#app>.main>.level>.list>.item>div {
  width: 25%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  color: #fff;
  line-height: 44px;
  text-align: center;
  border-right: 1px solid #43afee;
}

#app>.main>.level>.list>.item>div:nth-child(1) {
  width: 15%;
}

#app>.main>.level>.list>.item>div:nth-child(2) {
  width: 35%;
}

#app>.main>.level>.list>.item>div:nth-child(4) {
  border-right: none;
  padding: 5px;
}

#app>.main>.level>.list>.item>div:nth-child(4)>div {
  width: 100%;
  height: 100%;
  background-color: #114f74;
  border-radius: 5px;
  line-height: 34px;
}


/* --------------------------------------------------------赛事说明 */

#app>.main>.race {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #43afee;
  padding-bottom: 80px;
}


/* 标题 */

#app>.main>.race>div:nth-child(1) {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #FF6A6A;
  color: #fff;
  border-radius: 25px;
  font-size: 2.2rem;
}


/* 缩略图 */

#app>.main>.race>div.item {
  position: relative;
  width: 100%;
  /* height: 200px; */
  box-sizing: border-box;
  border: 2px solid #114f74;
  border-radius: 15px;
  margin-top: 30px;
}

#app>.main>.race>div.item>span {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 26px;
  background-color: #43afee;
  color: #FF6A6A;
  text-shadow: 3px 3px 5px #000;
  transform-origin: 50% 60%;
  position: absolute;
  left: 15%;
  top: -25px;
  margin-left: -25px;
  animation: level 4s forwards 1s infinite;
}

#app>.main>.race>div.item>span.icon-shijian {
  color: #FF6A6A;
}

#app>.main>.race>div.item>span.icon-baohanjiangxiang {
  color: #CDAD00;
}

#app>.main>.race>div.item>span.icon-baoming {
  color: #7FFF00;
}

#app>.main>.race>div.item>span.icon-guize {
  color: #CDAD00;
}

#app>.main>.race>div.item>span.icon-toupiao {
  color: #FF6A6A;
}


/* 标题 */

#app>.main>.race>div.item>.title {
  width: 50%;
  height: 30px;
  margin-top: 10px;
  line-height: 30px;
  text-align: left;
  padding-left: 20px;
  color: #fff;
  font-size: 1.6rem;
}


/* 具体内容 */

#app>.main>.race>div.item>.info {
  padding-left: 20px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

#app>.main>.race>div.item>.info>div {
  margin-bottom: 4px;
}


/* --------------------------------------------------------商家入口 */

#app>.main>.reg {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #43afee;
}


/* 标题 */

#app>.main>.reg>div:nth-child(1) {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #FF6A6A;
  color: #fff;
  border-radius: 25px;
  font-size: 2.2rem;
}


/* 缩略图 */

#app>.main>.reg>div.item {
  position: relative;
  width: 100%;
  /* height: 200px; */
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border: 2px solid #114f74; */
  background-color: #114f74;
  border-radius: 15px;
  margin-top: 10px;
}


/* 标题 */

#app>.main>.reg>div.item>.title {
  width: 50%;
  height: 30px;
  margin-top: 10px;
  line-height: 30px;
  text-align: left;
  padding-left: 20px;
  color: #fff;
  font-size: 1.6rem;
}


/* 具体内容 */

#app>.main>.reg>div.item>.info {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 10px;
  /* display: none; */
}

#app>.main>.reg>div.item>.info>div {
  margin-bottom: 6px;
}


/* --------------------------------------------------------商家具体选择 */



#app>.main>.input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #114f74;
  padding-bottom: 80px;
}

#app>.main>.input>div {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 10px;
  background: #43afee;
  position: relative;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

#app>.main>.input>div>div.bb_nav_heart {
  line-height: 50px;
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;
  text-align: center;
  color: #fff;
  transform-origin: 50% 60%;
  animation: font_change 4s forwards 1s infinite;
}

#app>.main>.input>div>div:nth-child(1) {
  left: 0;
}

#app>.main>.input>div>div:nth-child(3) {
  right: 0;
}

#app>.main>.input>div>div:nth-child(2) {
  line-height: 50px;
  width: 100%;
  height: 100%;
  text-align: center;
  /* color: #114f74; */
  color: #fff;
  font-size: 2.4rem;
}




/* -----------------------------------------------新增宝宝 */
#add_baby{
  width: 100%;
  height: 100%;
  color: #114f74;
  font-size: 1.4rem;
  overflow-y: auto;
}
#add_baby>div{
  width: 100%;
  height: 30px;
  position: relative;
  box-sizing: border-box;
  padding-left: 100px;
  margin-bottom: 4px;
}

#add_baby>div>div{
  position: absolute;
  top:0;
  left: 0;
  width: 100px;
  height: 100%;

  line-height: 30px;
  text-align: center;
}
#add_baby>div>input{
  width: 90%;
  height: 90%;
}

#add_baby>.info{
  width: 100%;
  height: 60px;
  padding-left: 0;
  border: 1px dashed #114f74;
  line-height: 30px;
  text-align: center;
  font-size: 1.2rem;
}


/* -----------------------------------------------支线获得者 */
#winner{
  width: 100%;
  height: 100%;
  color: #114f74;
  font-size: 1.4rem;
  overflow-y: auto;
}
#winner>div.title{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 4px;
  text-align: center;
}

#winner>input{
  width: 99%;
  height: 30px;
  margin-bottom: 5px;
}
