* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  // 10px;
  font-size: 62.5%;
}


/* 垂直居中 */

.middle:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.bottom:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: bottom;
  content: "";
}


/* 不能选中 */

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
not supported by any browser */
}


/* -----------------------报名图标 */

@keyframes font_change {
  0% {
    font-size: 2.0rem;
    transform: rotate(0deg);
    color: #fff;
  }
  25% {
    font-size: 2.6rem;
    transform: rotate(30deg);
  }
  50% {
    font-size: 3.0rem;
    transform: rotate(0deg);
    color: #FFFF00;
  }
  75% {
    font-size: 2.6rem;
    transform: rotate(-30deg);
  }
  100% {
    font-size: 2.0rem;
    transform: rotate(0deg);
    color: #fff;
  }
}


/* -----------------------报名文字 */

@keyframes font_rotate {
  0% {
    transform: perspective(300px) rotateY(0deg);
    text-shadow: 0px 0px 5px #000;
  }
  25% {
    transform: perspective(300px) rotateY(30deg);
    text-shadow: -8px 0px 5px #000;
  }
  50% {
    transform: perspective(300px) rotateY(0deg);
    text-shadow: 0px 0px 5px #000;
  }
  75% {
    transform: perspective(300px) rotateY(-30deg);
    text-shadow: 8px 0px 5px #000;
  }
  100% {
    transform: perspective(300px) rotateY(0deg);
    text-shadow: 0px 0px 5px #000;
  }
}


/* -----------------------实时广告图标 */

@keyframes adv_font_change {
  0% {
    font-size: 1.2rem;
  }
  25% {
    font-size: 1.5rem;
  }
  50% {
    font-size: 1.8rem;
  }
  75% {
    font-size: 1.5rem;
  }
  100% {
    font-size: 1.2rem;
  }
}


/* ---------------------------------app */

#app {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 40px;
}


/* ----------------------------info */

#app>div.info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-sizing: border-box;
  padding-left: 40px;
  width: 100%;
  height: 40px;
  background-color: rgb(28, 27, 32);
  color: #FF6A6A;
  font-size: 1.5rem;
  /* background-image: url('./img/start.GIF'); */
  /* background-size: 220px 139px;
  background-position: center center;
  background-repeat: no-repeat; */
}

#app>div.info>div:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  animation: adv_font_change 2s forwards 1s infinite;
}

#app>div.info>div.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app>div.info>div.content>div {
  position: absolute;
  left: 0;
  /* transition: all 0.3s linear; */
  white-space: nowrap;
  line-height: 40px;
}


/* ------------------------------抽奖活动 */

#app>div.lottery {
  position: relative;
  z-index: 0;
  background-color: #4390EE;
  color: #fff;
  font-weight: 600;
  border-bottom: 1px solid rgb(28, 27, 32);
}


/* ----------------------------海报 */

#app>div.poster {
  box-sizing: border-box;
  z-index: 9999;
  width: 100%;
  border-bottom: 3px solid rgb(28, 27, 32);
  font-size: 0;
}

#app>div.poster>img {
  width: 100%;
  height: auto;
}


/* ----------------------------轮播 */

#app>div.swiper-container {
  width: 100%;
  height: 250px;
  border-bottom: 3px solid rgb(28, 27, 32);
}

#app>div.swiper-container .item {
  line-height: 200px;
  color: #000;
  text-align: center;
  font-size: 2.0rem;
}

#app>div.swiper-container .slider1 {
  background: #4390EE;
}

#app>div.swiper-container .slider2 {
  background: #FF8604;
}

#app>div.swiper-container .slider3 {
  background: #CA4040;
}


/* 左右按钮 */

#app>div.swiper-container .swiper-button-prev,
#app>div.swiper-container .swiper-button-next {
  width: 30px;
  height: 30px;
  background-size: 71px 30px;
  background-position: 0 0;
  background-image: url('./img/swiper_button_002.png');
}

#app>div.swiper-container .swiper-button-next {
  background-position: -41px 0px;
}


/* 分页器 */

#app>div.swiper-container .swiper-pagination-bullet-active {
  background-color: rgb(28, 27, 32);
}


/* ---------------------------------nav */

#app>.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  color: rgb(28, 27, 32);
  font-size: 1.4rem;
  background-color: rgb(28, 27, 32);
  /* background-image: url('./img/start.GIF'); */
  /* background-size: 220px 139px;
  background-position: center center;
  background-repeat: no-repeat; */
}

#app>.nav>div {
  position: absolute;
  bottom: 0;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(28, 27, 32);
  border-radius: 10px;
  transition: all 0.2s ease-in;
}

#app>.nav>div.active {
  height: 140%;
}

#app>.nav>div.index {
  left: 0;
  background-color: #FF6A6A;
  border-left: 2px solid rgb(28, 27, 32);
}

#app>.nav>div.level {
  left: 25%;
  background-color: #CDAD00;
}

#app>.nav>div.info {
  left: 50%;
  background-color: #7FFF00;
}

#app>.nav>div.reg {
  left: 75%;
  background-color: #40E0D0;
  border-right: 2px solid rgb(28, 27, 32);
}

#app>.nav>div>div {
  width: 100%;
  height: 50%;
  line-height: 24px;
  text-align: center;
}


/* ----------------------------main */

#app>.main {
  width: 100%;
  background: #4390EE;
}


/* --------------------------用户报名 */

#app>.main>.apply {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #43afee;
}

#app>.main>.apply>div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #FF6A6A;
  position: relative;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

#app>.main>.apply>div>div.bb_nav_heart {
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;
  line-height: 70px;
  text-align: center;
  color: #fff;
  transform-origin: 50% 60%;
  animation: font_change 4s forwards 1s infinite;
}

#app>.main>.apply>div>div:nth-child(1) {
  left: 0;
}

#app>.main>.apply>div>div:nth-child(3) {
  right: 0;
}

#app>.main>.apply>div>div:nth-child(2) {
  width: 100%;
  height: 100%;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 3.0rem;
}


/* --------------------------数据hot */

#app>.main>.hot {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 10px;
}

#app>.main>.hot>div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  position: relative;
}

#app>.main>.hot>div>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
}

#app>.main>.hot>div>div.num {
  left: 0;
}

#app>.main>.hot>div>div.vote {
  left: 33%;
}

#app>.main>.hot>div>div.views {
  left: 66%;
}

#app>.main>.hot>div>div>div:nth-child(1) {
  height: 40%;
  text-align: center;
  font-weight: 800;
  font-size: 1.6rem;
  color: rgb(28, 27, 32);
}

#app>.main>.hot>div>div>div:nth-child(2) {
  height: 60%;
  text-align: center;
  font-weight: 800;
  font-size: 2.2rem;
  color: #4390EE;
}


/* --------------------------数据搜索 */

#app>.main>.ipt {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: #43afee;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#app>.main>.ipt>div {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

#app>.main>.ipt>div:nth-child(1) {
  width: 70%;
}

#app>.main>.ipt>div:nth-child(1)>input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

#app>.main>.ipt>div:nth-child(2) {
  width: 30%;
  height: 100%;
  padding-left: 10px;
}

#app>.main>.ipt>div:nth-child(2)>div {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #114f74;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-size: 1.6rem;
}


/* --------------------------活动时间 */

#app>.main>.info {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: #68bdee;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#app>.main>.info>div {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  font-size: 1.6rem;
}


/* --------------------------数据展示 */

#app>.main>.list {
  width: 100%;
  box-sizing: border-box;
  background-color: #43afee;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#app>.main>.list>.gridalicious>.galcolumn>.item {
  background-color: #2986bc;
  color: #fff;
  padding: 5px;
  /* word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap; */
}

#app>.main>.list>.gridalicious>.galcolumn>.item>img {
  width: 100%;
  height: auto;
}

#app>.main>.list>.gridalicious>.galcolumn>.item>div {
  margin-top: 5px;
  width: 100%;
  height: 72px;
  border-radius: 5px;
  background-color: #114f74;
}

#app>.main>.list>.gridalicious>.galcolumn>.item>div>div:nth-child(1) {
  width: 100%;
  height: 50%;
  background-color: #2986bc;
  line-height: 36px;
  text-align: center;
  font-size: 1.7rem;
}

#app>.main>.list>.gridalicious>.galcolumn>.item>div>div:nth-child(2) {
  width: 100%;
  height: 50%;
}

#app>.main>.list>.gridalicious>.galcolumn>.item>div>div:nth-child(2)>div {
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  line-height: 36px;
  text-align: center;
  font-size: 1.2rem;
}

#app>.main>.list>.gridalicious>.galcolumn>.item>div>div:nth-child(2)>div:nth-child(1) {
  border-right: 2px solid #2986bc;
}


/* --------------------------分页器 */

#app>.main>.page {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  background-color: #43afee;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 90px;
}

#app>.main>.page>div {
  float: left;
  width: 30%;
  height: 100%;
  background-color: #114f74;
  border-radius: 10px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

#app>.main>.page>div:nth-child(2) {
  width: 40%;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
}

#app>.main>.page>div:nth-child(2)>div {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
}


/* --------------------------数据level */

#app>.main>.level {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #43afee;
  padding-bottom: 200px;
}

#app>.main>.level>.list {
  width: 100%;
  box-sizing: border-box;
  background-color: #2986bc;
}

#app>.main>.level>.list>.item {
  width: 100%;
  height: 26px;
  box-sizing: border-box;
  border-bottom: 1px solid #43afee;
}
