* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  /* 10px */;
  font-size: 62.5%;
}


/* 垂直居中 */

.middle:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.bottom:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: bottom;
  content: "";
}


/* 不能选中 */

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
not supported by any browser */
}


#app{
  width: 100%;
  height: 100%;
  background-color: #123;
}
/* -------------------------------nav */
#app>.footer{
  width: 100%;
  height: 60px;
  background-color: #345;
  position: fixed;
  bottom: 0;
  left: 0;
}
#app>.footer>div{
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  line-height: 60px;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
}
#app>.footer>div:nth-child(1){
  border-right: 1px solid #123;
}

/* -------------------------------header */
#app>.header{
  width: 100%;
  height: 40px;
  background-color: #345;
  box-sizing: border-box;
  padding-left: 5%;
  line-height: 40px;
  font-size: 1.6rem;
  color: #fff;
  border-bottom: 1px solid #123;
}

/* -------------------------------main */
#app>.main>.item{
  width: 100%;
  height: 40px;
  background-color: #345;
  line-height: 40px;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding-left: 15%;
  padding-right: 15%;
  position: relative;
}
#app>.main>.item>.title{
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  border-right: 1px solid #123;
}
#app>.main>.item>.ipt{
  width: 100%;
  height: 100%;
}
#app>.main>.item>.ipt>input{
  width: 90%;
  height: 95%;
}