* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  // 10px;
  font-size: 62.5%;
}


/* 垂直居中 */

.middle:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.bottom:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: bottom;
  content: "";
}


/* 不能选中 */

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
not supported by any browser */
}


/* ---------------------------------app */

#app {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 40px;
}


/* ----------------------------top */

#app>div.top {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  background-color: rgb(28, 27, 32);
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s ease-in;
  /* background-image: url('./img/start.GIF'); */
  /* background-size: 220px 139px;
  background-position: center center;
  background-repeat: no-repeat; */
}

#app>.top>div {
  float: left;
  width: 13%;
  height: 100%;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
}

#app>.top>div.title {}

#app>.top>div.tip {
  width: 87%;
}


/* ---------------------------------nav */

#app>.nav {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9999;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 1.8rem;
  /* background-image: url('./img/start.GIF'); */
  /* background-size: 220px 139px;
  background-position: center center;
  background-repeat: no-repeat; */
}

#app>.nav>div {
  float: left;
  width: 13%;
  height: 100%;
  box-sizing: border-box;
  line-height: 40px;
  text-align: center;
  background-color: rgb(28, 27, 32);
  transition: all 0.3s ease-in;
}

#app>.nav>div.list {
  border-right: 1px solid #0000CD;
}

#app>.nav>div.info {
  width: 74%;
}

#app>.nav>div.my {
  border-left: 1px solid #0000CD;
}


/* ----------------------------main */

#app>.main {
  width: 100%;
  height: 100%;
  position: relative;
}


/* ---------------main-iframe */

.main>iframe {
  width: 100%;
  height: 100%;
}


/* ---------------main-nav-list */

.main>.nav_list {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 9999;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: rgb(28, 27, 32);
  font-size: 1.2rem;
  border-top: 1px solid transparent;
  transition: all 0.3s ease-in;
  box-shadow: 0px 0px 0px #000;
}


/* ---------------main-nav-list 一级菜单 */

.main>.nav_list>div {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #0000CD;
  border-top: 3px solid #0000CD;
  border-bottom: none;
}

.main>.nav_list>div>div {
  width: 100%;
  height: 46px;
  text-align: center;
  line-height: 46px;
  color: #fff;
}


/* 奇数 */

.main>.nav_list>div>div:nth-child(odd) {
  background-color: rgb(28, 27, 32);
}


/* 偶数 */

.main>.nav_list>div>div:nth-child(even) {
  background-color: rgb(0, 0, 1);
}
