* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  // 10px;
  font-size: 62.5%;
}


/* 垂直居中 */

.middle:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.bottom:after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: bottom;
  content: "";
}


/* 不能选中 */

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
not supported by any browser */
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
}


/* 顶部栏 */

#app>#top {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
}

#app>#top>div {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s ease-in;
  line-height: 50px;
  text-align: center;
}

#app>#top>#start {
  width: 85%;
  background-color: #000080;
}

#app>#top>#end {
  width: 15%;
  background-color: #4169E1;
}


/* 点击按钮 */

#app>#btn {
  width: 100%;
  height: 50px;
  background-color: rgb(38, 38, 38);
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-in;
  // background-image: url('./img/start.GIF');
  background-size: 220px 139px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 9999;
}


/* 图文 */

#main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-top: 50px;
}

#main>#map {
  width: 100%;
  height: 100%;
}

.marker {
  position: relative;
}


/*面板的位置*/

.marker>.label {
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  padding: 5px 20px;
  min-width: 120px;
  z-index: 1000;
  position: absolute;
  top: -32px;
  left: -53px;
}


/*信息面板*/

.marker>.label>.info {
  display: block;
  text-align: center;
  overflow: hidden;
  /*字体*/
  font: 12px arial, simsun, sans-serif;
  white-space: nowrap;
}


/*箭头*/

.marker>.label>.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: -8px;
  left: 78px;
  margin-left: -5px;
  border-width: 8px 8px 0;
  border-top-color: rgba(0, 0, 0, 0.8);
}